*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.container {
		
		

}

#felipa_calculator #container {
	background: #056665;
	width: 100%;
	margin: auto;
	max-width: 380px;
	min-width: 370px;
	padding: 25px;
}


span {
	color: #fff;
}
#felipa_calculator #container button {
	border-radius: 15px;
	border: 1px solid #000;
	height: 80px;
	margin: 1%;
	width: 23%;
}

.keyboardSwitchContainer {
	margin: 0 0 4% 0;
}


#felipa_calculator #container #c, #felipa_calculator #container #ce {
	height: 80px;
	margin: 1%;
	width: 48%;
	color: #fff;
	background-color: #067F7E;
}

#felipa_calculator button#keydownSwitch {
	width: 73%;
	background-color: #03403F;
	color: #fff;
}

#user-input {
	display: block;
	height: 80px;
	width: 100%;
	font-size: 2em;
	text-align: right;
	margin: 0 0 4%;
	padding-right: 2%;
	border: 2px solid #0BCCCA;
	color:#03403F;
	background-color: #D1E594;
}
.arithmetic-operations {
	background-color: #0BCCCA;
	color: #fff;
}
.digits {
	background-color: #03403F;
	color: #fff;
}
#calculate {
	background-color: #FF9E08;
	color: #fff;
}
